/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a:link, a:visited{
    color: inherit;
}
button:active, button:focus{
  outline: rgba(255,255,255,0.5);
  border: none;;
}

.add-new{
  border: 2px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: grey;
}
